img {
    width: 400;
}

body {
    text-align: center;
    font-family: "arial";
    width: auto;
    background-image: url(http://pre11.deviantart.net/679c/th/pre/f/2013/238/d/f/a_seamless_tileable_abstract_background_texture_by_aozametaneko-d6jvz7y.jpg);
    
}


